{% extends 'reparapp/base.html' %} 

{% block content %}
<div>
    <h1>Detalles de Cliente:</h1>
    <a class="btn btn-default pull-right" href="{% url 'cliente_edit' pk=cliente.pk %}">
        <span class="glyphicon glyphicon-pencil">Editar</span>
    </a>
    <h3>Nombre: {{ cliente.nombre }}</h3>
    <h3>Apellido: {{ cliente.apellido }}</h3>
    <h3>correo: {{ cliente.correo }}</h3>
    <h3>Teléfono: {{ cliente.telefono }}</h3>
    <a class="btn btn-default" href="{% url 'cliente_remove' pk=cliente.pk %}">
        <span class="glyphicon glyphicon-remove">Borrar</span>
    </a>

    <h2>Equipos del Cliente</h2>
    <table class="table table-hover text-center" style="font-size: 20px;">
        <tr class="text-center">
            <th class="text-center">ID</th>
            <th class="text-center">Sistema Operativo</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Modelo</th>
        </tr>
        {% for equipo in equipos %}
        <tr>
            <td>
                <a href="{% url 'equipo_detail' pk=equipo.pk %}">{{ equipo.pk }}</a>
            </td>
            <td>{{equipo.sistema_operativo}}</td>
            <td>{{ equipo.marca }}</td>
            <td>{{equipo.modelo}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}