{% extends 'reparapp/base.html' %} 

{% block content %}
<div>
    <h1>Detalles de Cliente:</h1>
    <a class="btn btn-default pull-right" href="{% url 'cliente_edit' pk=cliente.pk %}">
        <span class="glyphicon glyphicon-pencil">Editar</span>
    </a>
    <h3>Nombre: {{ cliente.nombre }}</h3>
    <h3>Apellido: {{ cliente.apellido }}</h3>
    <h3>correo: {{ cliente.correo }}</h3>
    <h3>Teléfono: {{ cliente.telefono }}</h3>
    <a class="btn btn-default" href="{% url 'cliente_remove' pk=cliente.pk %}">
        <span class="glyphicon glyphicon-remove">Borrar</span>
    </a>

</div>
{% endblock %}